


@font-face {
    font-family: 'Serto Urhoy';
    src: url('fonts/SyrCOMUrhoy.eot');
    src: url('fonts/SyrCOMUrhoy.eot?#iefix') format('embedded-opentype'),
         url('fonts/SyrCOMUrhoy.woff2') format('woff2'),
         url('fonts/SyrCOMUrhoy.woff') format('woff'),
         url('fonts/SyrCOMUrhoy.ttf')  format('truetype'),
         url('fonts/SyrCOMUrhoy.svg#Serto Urhoy') format('svg');
}

@font-face {
    font-family: 'Marhey';
    src: url('fonts/Marhey-Regular.eot');
    src: url('fonts/Marhey-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Marhey-Regular.woff2') format('woff2'),
         url('fonts/Marhey-Regular.woff') format('woff'),
         url('fonts/Marhey-Regular.ttf')  format('truetype'),
         url('fonts/Marhey-Regular.svg#Marhey') format('svg');
}



@font-face {
    font-family: 'Serto Chahane 4';
    src: url('fonts/SertoChahane4.eot');
    src: url('fonts/SertoChahane4.eot?#iefix') format('embedded-opentype'),
        url('fonts/SertoChahane4.woff2') format('woff2'),
        url('fonts/SertoChahane4.woff') format('woff'),
        url('fonts/SertoChahane4.svg#SertoChahane4') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'mohammad bold art';
    src: url('fonts/mohammadboldart1.eot');
    src: url('fonts/mohammadboldart1.eot?#iefix') format('embedded-opentype'),
        url('fonts/mohammadboldart1.woff2') format('woff2'),
        url('fonts/mohammadboldart1.woff') format('woff'),
        url('fonts/mohammadboldart1.ttf') format('truetype'),
        url('fonts/mohammadboldart1.svg#mohammadboldart1') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Arslan';
    src: url('fonts/AArslanWessamA-AArslanWessamA.eot');
    src: url('fonts/AArslanWessamA-AArslanWessamA.eot?#iefix') format('embedded-opentype'),
        url('fonts/AArslanWessamA-AArslanWessamA.woff2') format('woff2'),
        url('fonts/AArslanWessamA-AArslanWessamA.woff') format('woff'),
        url('fonts/AArslanWessamA-AArslanWessamA.ttf') format('truetype'),
        url('fonts/AArslanWessamA-AArslanWessamA.svg#AArslanWessamA-AArslanWessamA') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body {
background-color:#FFF8DC;
    width: auto;
    height: auto;
    padding: 5px;
    border: 5px ;


}


@font-face {
    font-family: 'Reem Kufi';
    src: url('fonts/ReemKufi-VariableFontwght.eot');
    src: url('fonts/ReemKufi-VariableFontwght.eot?#iefix') format('embedded-opentype'),
         url('fonts/ReemKufi-VariableFontwght.woff2') format('woff2'),
         url('fonts/ReemKufi-VariableFontwght.woff') format('woff'),
         url('fonts/ReemKufi-VariableFontwght.ttf')  format('truetype'),
         url('fonts/ReemKufi-VariableFontwght.svg#Reem Kufi') format('svg');
}









.a {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: mohammad bold art;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 120px;
  padding: 0 25px;
  width: 330px;
  margin: 10px 10px;
  cursor: pointer;
}

.a:hover {
  background-color: #fff;
}

.a:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.bttn { 
   position: fixed;
   top: 50px;
   left: 10px;
   background-color: white;
  border: 2px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 530px 0px;
  cursor: pointer;
}

.bttn:hover {
  background-color: #fff;
}

.bttn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


table {
             margin: -0px 0px;
         }
         tr {
            font-family: 'Serto Urhoy';
            font-weight: Regular;
            font-size: 25px;
            text-align: center;
            
        }      
         th {
             font-family: 'Marhey';
             font-size: 16px;
             text-align: center;
             background:#FFED86;
         }  






 


.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: mohammad bold art;
  font-size: 16px;
  
  justify-content: center;
  
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 19px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
 cursor: pointer;
}
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, red 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}





.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  font-family: mohammad bold art;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}




.button-54 {
  font-family: "Reem Kufi";
  font-size: 30px;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  text-align: center;
  box-sizing: auto;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 310px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}





}
